.Story {
    font-size: 14px;
    padding: 0 16px;
    min-height: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.Story,
.Story_container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.Story_data {
    margin: 4px 0;
}
.Story_title {
    width: 100%;
    position: relative;
    margin-bottom: 4px;
}
.Story_title a {
    color: black;
}
.Story_title a:first-child {
    margin-right: 4px;
}
.Story_meta {
    font-size: 10.6667px;
}
.Story_meta,
.Story_meta a {
    color: #696969;
}

.Story_title .Story_link {
    color: #828282;
    font-size: 13px;
    word-break: break-all;
}
.Story_separator {
    margin: 0 5px;
    color: #696969;
}
.Story_comment {
    padding: 8px 0;
    font-size: 12px;
    width: 100%;
    line-height: normal;
    font-style: normal;
    color: black;
    font-weight: 400;
}

@media (max-width: 480px) {
    .Story_title .Story_link {
        display: block;
    }
}
