button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
input:focus {
    outline: none;
}
a {
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #477dca;
    text-decoration: none;
}
.SearchHeader.container {
    width: 100% !important;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
.SearchHeader_search {
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #ff742b;
    height: auto;
    padding: 4px;
    position: relative;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.SearchHeader_logo {
    -ms-flex: 1 0 180px;
    flex: 1 0 180px;
    max-width: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.SearchHeader_logo img {
    width: 48px;
    margin-right: 8px;
}
.SearchHeader_label {
    color: #000;
    font-size: 18px;
    line-height: 1;
}

.SearchHeader_container {
    position: relative;
    display: inline-block;
    width: calc(100% - 324px);
    margin-right: 16px;
}
.SearchHeader .SearchIcon {
    position: absolute;
    top: 9px;
    left: 12px;
    color: #ff742b;
    font-size: 24px;
    pointer-events: none;
}
.SearchHeader .SearchInput {
    border-radius: 0;
    border: none;
    height: 42px;
    width: 100%;
    box-shadow: none;
    padding: 16px 144px 16px 54px;
    font-weight: 300;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.75);
}
.SearchHeader .PoweredBy {
    color: rgba(33, 36, 61, 0.5);
    font-size: 12px;
    margin-left: 8px;
    white-space: nowrap;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
}
.SearchHeader .PoweredBy a {
    display: flex;
    margin: 0 8px;
}
.SearchHeader .PoweredBy img {
    height: 14px;
    transform: translateY(1px);
}
.SearchHeader_settings a {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.SearchHeader_settings svg {
    margin: 0 8px;
}
.SearchHeader_settings a {
    color: #000;
}
.PoweredBy {
    display: flex;
}
@media (max-width: 830px) {
    .PoweredBy span {
        display: none;
    }
    .SearchHeader_label {
        display: none;
    }
    .SearchHeader_logo {
        display: block;
        flex: initial;
    }
    .SearchHeader_container {
        width: calc(100% - 160px);
    }
    .SearchInput {
        height: 18px;
    }
    .SearchHeader_settings span {
        display: none;
    }
}

@media (max-width: 480px) {
    .PoweredBy {
        display: none;
    }

    .SearchHeader .SearchInput {
        justify-content: space-around;
    }

    .SearchHeader .SearchInput {
        padding: 12px 1px 12px 34px;
    }
}
