.loader {
    position: absolute;
    z-index: 666;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loader svg {
    width: 300px;
    height: 300px;
    animation: spinner 0.7s ease infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loader-hide {
    display: none;
}
