.SearchFilters_filters {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    padding: 0 10px;
}

.drop-down {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    text-align: left;
    padding: 0 4px 0 8px;
    margin: 0 12px 0 12px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #5c5c5c;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    border-radius: 15px;
}

.drop-down-list {
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 120%;
    right: -15px;
    color: black;
    background: white;
    margin: 10px;
    padding: 0;
    z-index: 100;
    width: 115px;
}
.drop-down-list li {
    width: 100%;
    list-style: none;
    font-size: 14px;
}
.drop-down-list li:not(:last-child) {
    border-bottom: 1px solid #c3c3c3;
}
.drop-down svg {
    width: 14px;
    margin-left: 4px;
    pointer-events: none;
}
.search-filter-container {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.drop-down-list li button {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 100%;
    margin-left: 0 !important;
    padding: 8px 16px;
    background-color: #fff;
    color: #5c5c5c;
    border-radius: 5px;
}

.display-drop-down {
    display: block;
}
@media (max-width: 480px) {
    .search-filter-container {
        white-space: nowrap;
        font-size: 0.0001em;
    }
    .SearchFilters_filters {
        justify-content: flex-end;
    }

    .drop-down {
        margin: 0px 4px 0 8px;
    }
}

@media (max-width: 480px) {
    .SearchFilters_filters {
        justify-content: center;
        align-items: center;
    }
    .drop-down-list {
        right: -37px;
    }
}
